.autocomplete {
  width: 100%;
  font-size: 1rem;

  .select-box {
    width: 100%;
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    border: 2px solid #e5e7eb;
    overflow: hidden;

    input.search {
      width: 80%;
      border: none;
      line-height: 1.5rem;
      &:focus {
        outline: none;
      }
    }

    button.toggle-button {
      width: 15%;
      cursor: pointer;
      border: none;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        // width: 10px;
      }
    }
  }
}
