#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box-container {
  width: 25vw;
  margin: auto;
  @media (max-width: 767.98px) {
    width: 35vw;
  }
}

.read-the-docs {
  color: #888;
}
